.hide {
    display: none;
    padding: 5px;
    background-color: #757575;
    color: white;
    z-index: 99;
}

.myDIV:hover+.hide {
    display: block;
}

#answer {
    display: none;
}

.dialogue {
    background-color: #757575;
    color: white;
    width: 95%;
    height: 15%;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 25px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    margin: 0 auto;
}

.map {
    border: 1px solid black;
    width: 95%;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
}

.backimage {
    border-radius: 25px;
}