.title {
    margin: auto;
    text-align: center;
    display: block;
}

.start {
    display: block;
    margin: auto;
    text-decoration: none;
}

.manual {
    text-align: center;
    display: block;
}

#bbb {
    width: 80%;
    margin: auto;
    display: block;
}